# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
webhook

# Go
*.test
*.out
go.sum

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.kubeconfig

# Helm
*.tgz

# Certificates
*.crt
*.key
*.pem
certs/
