replicaCount: 1

image:
  repository: artifactory.cloud.cms.gov/cms-devops-docker-local/k8s-mutating-webhook
  pullPolicy: IfNotPresent
  tag: "1.0.2"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 443
  targetPort: 8443

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

webhook:
  podSelectorLabels:
    jenkins: slave
  labels:
    karpenter-nodepool: "true"
  useConfigFile: true
  nodeSelectorLabels:
    node-pool: agent
certManager:
  enabled: true
  createIssuer: true
  issuerKind: Issuer          
  issuerName: ""         
  duration: 8760h             # 365d
  renewBefore: 720h           # 30d 
