replicaCount: 1

image:
  repository: docker.io/kazimmehdi/klab
  pullPolicy: IfNotPresent
  tag: "1.0.2"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 443
  targetPort: 8443

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

webhook:
  labels:
    mutated: "true"
  useConfigFile: true
  topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app: workload-split
    maxSkew: 1
    topologyKey: capacity-spread
    whenUnsatisfiable: DoNotSchedule
  - labelSelector:
      matchExpressions:
      - key: security
        operator: In
        values:
        - S2
    topologyKey: topology.kubernetes.io/zone   
    maxSkew: 1
    whenUnsatisfiable: DoNotSchedule

selfSignedCert:
  enabled: true
  commonName: "{{ .Values.fullnameOverride }}-k8s-mutating-webhook.svc"
  altNames: []
